@charset "UTF-8";
/* CSS Document */


html {
	min-height: 100%;
}


body {
	background:#F5F5F5;
	font-family:Arial, Helvetica, sans-serif;
	padding-top:20px;
}

#login-form {
	background:#FFF;
	max-width:90%;
	width:300px;
	height:1%;
	overflow:hidden;
	margin-left:auto;
	margin-right:auto;
	border:1px solid #dbdbdb;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding:10px;
}

#login-form h2 {
	font-size:20px;
	font-weight:bold;
	text-transform:uppercase;
	text-shadow: #fff 2px 2px 2px;
	margin-top:0px;
	font-family: 'PT Sans Narrow', sans-serif;
}




#links_left{
	float:left;
	position:relative;
	padding-top:5px;
	
}

#links_left a{
	color:#bbb;
	font-size:11px;
	text-decoration:none;
	transition: color 0.5s linear;
	-moz-transition: color 0.5s linear;
	-webkit-transition: color 0.5s linear;
	-o-transition: color 0.5s linear;
}

#links_left a:hover{
	color:#292929;
}

#username_input {
	width:300;
	height:50px;
	margin-top:10px;
	-moz-box-shadow:    inset 0 0 10px #CCC;
   	-webkit-box-shadow: inset 0 0 10px #CCC;
   	box-shadow:         inset 0 0 10px #CCC;
   	text-shadow: 1px 1px 5px rgba(150, 150, 150, 1);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


#PASSWORD, #USERNAME{
	display:block;
	width:88%;
	height:45px;
	background:transparent;
	border:0;
	color:#bdbdbd;
	font-family:helvetica, sans-serif;
	font-size:14px;
	padding-left:35px;
}
#url_user {
	position:absolute;
	display:block;
	margin-top:-28px;
	float:left;
	padding-right:10px;
	margin-left:10px;
}

#password_input {
	width:300;
	height:50px;
	margin-top:10px;
	-moz-box-shadow:    inset 0 0 10px #CCC;
   	-webkit-box-shadow: inset 0 0 10px #CCC;
   	box-shadow:         inset 0 0 10px #CCC;
   	text-shadow: 1px 1px 5px rgba(150, 150, 150, 1);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}



#url_password {
	display:block;
	position:absolute;
	margin-top:-32px;
	float:left;
	margin-left:14px;
}

div.logo {
		max-width:90%;
		width:300px;
		height:1%;
		overflow:hidden;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:20px;
}

div.logo img {
		width:100%;
}

#submit {
 color: #fff;
 width: 100%;
 height: 50px;
 border: none;
 margin: 10px 0px;
 padding: 0;
 font-size:18px;
 font-weight:bold;
 background: rgb(205,235,142); /* Old browsers */

/* IE9 SVG, needs conditional override of 'filter' to 'none' */

background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NkZWI4ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhNWM5NTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

background: -moz-linear-gradient(top,  rgba(205,235,142,1) 0%, rgba(165,201,86,1) 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(205,235,142,1)), color-stop(100%,rgba(165,201,86,1))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* IE10+ */

background: linear-gradient(to bottom,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 ); /* IE6-8 */

-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;

-moz-box-shadow:    inset 0 0 10px #CCC;
   -webkit-box-shadow: inset 0 0 10px #CCC;
   box-shadow:         inset 0 0 10px #CCC;
   text-shadow: 1px 1px 5px rgba(150, 150, 150, 1);
   font-family: 'PT Sans Narrow', sans-serif;
}

#submit:active, #submit.hover_effect {
	background: rgb(143,200,0); /* Old browsers */

/* IE9 SVG, needs conditional override of 'filter' to 'none' */

background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhmYzgwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4ZmM4MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

background: -moz-linear-gradient(top,  rgba(143,200,0,1) 0%, rgba(143,200,0,1) 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(143,200,0,1)), color-stop(100%,rgba(143,200,0,1))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  rgba(143,200,0,1) 0%,rgba(143,200,0,1) 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  rgba(143,200,0,1) 0%,rgba(143,200,0,1) 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  rgba(143,200,0,1) 0%,rgba(143,200,0,1) 100%); /* IE10+ */

background: linear-gradient(to bottom,  rgba(143,200,0,1) 0%,rgba(143,200,0,1) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc800', endColorstr='#8fc800',GradientType=0 ); /* IE6-8 */


}

/* 
	Required Styles
*/
#aToolTip {
	position: absolute;
	display: none;
	z-index: 50000;
}

	#aToolTip .aToolTipContent {
		position:relative;
		margin:0;
		padding:0;
	}
/* 
	END: Required Styles
*/
/**
	Default Theme
*/
.defaultTheme {
	border:2px solid #444;
	background:#555;
	color:#fff;
	margin:0;
	padding:6px 12px;	
	
	-moz-border-radius: 12px 12px 12px 0;
	-webkit-border-radius: 12px 12px 12px 0;
	-khtml-border-radius: 12px 12px 12px 0;
	border-radius: 12px 12px 12px 0;
	
	-moz-box-shadow: 2px 2px 5px #111; /* for Firefox 3.5+ */
	-webkit-box-shadow: 2px 2px 5px #111; /* for Safari and Chrome */
	box-shadow: 2px 2px 5px #111; /* for Safari and Chrome */
}
	
	.defaultTheme #aToolTipCloseBtn {
		display:block;
		height:18px;
		width:18px;
		background:url(images/closeBtn.png) no-repeat;
		text-indent:-9999px;
		outline:none;
		position:absolute;
		top:-20px;
		right:-30px;
		margin:2px;
		padding:4px;
	}

/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
	
	

	

	
}
